{% extends 'app_users/base.html' %}

{% block title %}Details{% endblock %}

{% block body %}

<h1>{{item.title}}</h1>
<br>
<p>{{item.content}}</p>
<hr>

<h3>Комментарии</h3>

{% if not comments %} <!--если  словарь пустой-->
<p>нет комментариев</p>
{% else %}
<ul>
    {% for comment in comments %}
    <li>
        {{comment.text}}
        <a href="{% url 'update' comment.id %}">Update</a>
        <a href="{% url 'delete' comment.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

<a href="{% url 'add' %}" >Добавить комментарий</a>
<br>
<a href="{% url 'main' %}" >На главную</a>

{% endblock %}







