{% extends 'app_users/base.html' %}

{% block title %}Main{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}
<h3> Добро пожаловать, {{request.user.username}} </h3>
<a href="{% url 'logout' %}">Выйти</a>
{% else %}
<h3> Вы неавторизованы </h3>
<a href="{% url 'login' %}">Войти</a>
{% endif %}

<h1>Я главная</h1>
<h2>Список тем</h2>
<ul>
    {% for item in items %}
    <li>
        <a href="/items/{{item.pk}}"> {{ item.title }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}




